body {
  background: orange;
  height: 100vh;
  font-weight: bold;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}
.container {
  border: 20px;
  border-color: blue;
}
.row {
  margin: 1rem;
  border: solid 2px;
  border-color: blue;
  min-height: 20vh;
  border-radius: 5px;
}
#pantry {
  padding-top: 2rem !important;
  margin-top: 2rem;
  text-align: center;
  background: blue;
  color: white;
}
h1 {
  text-align: center;
  color: blue;
}
#col-2 {
  margin-top: 2rem;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}
#col-5 {
  font-size: 25px;
}
#col-6 {
  margin-top: 0;
}
p,
h4 {
  margin: 0;
  margin-top: 0;
}
a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 600px) {
  section:nth-child(2) input {
    width: 100%;
  } /*targets specific devices with known width */
}
@media only screen and (max-width: 400px) {
  h1 {
    font-size: 50%;
  }
}
div {
  white-space: nowrap;
  /* overflow: hidden; */
}
p {
  font-size: 20px;
}

#hours {
  font-size: 65%;
}
#logo {
  width: auto;
  height: auto;
}
